<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.1">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>src.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginAuth</servlet-name>
        <servlet-class>src.LoginAuth</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAuth</servlet-name>
        <url-pattern>/loginAuth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainPage</servlet-name>
        <servlet-class>src.MainPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>src.CreateAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/createAccount</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateAccountAuth</servlet-name>
        <servlet-class>src.CreateAccountAuth</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAccountAuth</servlet-name>
        <url-pattern>/createAccountAuth</url-pattern>
    </servlet-mapping>

        <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>src.DeleteAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteAccountAuth</servlet-name>
        <servlet-class>src.DeleteAccountAuth</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteAccountAuth</servlet-name>
        <url-pattern>/deleteAccountAuth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>src.ChangePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangePasswordAuth</servlet-name>
        <servlet-class>src.ChangePasswordAuth</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordAuth</servlet-name>
        <url-pattern>/changePasswordAuth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListUsers</servlet-name>
        <servlet-class>src.ListUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListUsers</servlet-name>
        <url-pattern>/listUsers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutAuth</servlet-name>
        <servlet-class>src.LogoutAuth</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutAuth</servlet-name>
        <url-pattern>/logoutAuth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListPages</servlet-name>
        <servlet-class>src.ListPages</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListPages</servlet-name>
        <url-pattern>/listPages</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreatePage</servlet-name>
        <servlet-class>src.CreatePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePage</servlet-name>
        <url-pattern>/createPage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreatePageAuth</servlet-name>
        <servlet-class>src.CreatePageAuth</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePageAuth</servlet-name>
        <url-pattern>/createPageAuth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeletePage</servlet-name>
        <servlet-class>src.DeletePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePage</servlet-name>
        <url-pattern>/deletePage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreatePost</servlet-name>
        <servlet-class>src.CreatePost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePost</servlet-name>
        <url-pattern>/createPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>src.DeletePost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/deletePost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FollowPage</servlet-name>
        <servlet-class>src.FollowPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FollowPage</servlet-name>
        <url-pattern>/followPage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthorizeFollow</servlet-name>
        <servlet-class>src.AuthorizeFollow</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthorizeFollow</servlet-name>
        <url-pattern>/authorizeFollow</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LikePost</servlet-name>
        <servlet-class>src.LikePost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LikePost</servlet-name>
        <url-pattern>/likePost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowPage</servlet-name>
        <servlet-class>src.ShowPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowPage</servlet-name>
        <url-pattern>/showPage</url-pattern>
    </servlet-mapping>
    
</web-app>

